<?xml version="1.0" encoding="utf-8"?>
<!--
  The Adivery SDK contributes everything it needs (the INTERNET permission, its activities and its
  proguard rules) through manifest merging, so nothing ad related has to be declared here.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_adivery_logo_yellow"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_adivery_logo_yellow"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdiverySample">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CreateProfileActivity"
            android:exported="false" />

        <!-- Kotlin samples -->
        <activity
            android:name=".kotlin.KotlinInterstitialActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.KotlinRewardedActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.KotlinAppOpenActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.KotlinBannerActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.KotlinNativeActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.KotlinVastActivity"
            android:exported="false" />

        <!-- Java samples -->
        <activity
            android:name=".java.JavaInterstitialActivity"
            android:exported="false" />
        <activity
            android:name=".java.JavaRewardedActivity"
            android:exported="false" />
        <activity
            android:name=".java.JavaAppOpenActivity"
            android:exported="false" />
        <activity
            android:name=".java.JavaBannerActivity"
            android:exported="false" />
        <activity
            android:name=".java.JavaNativeActivity"
            android:exported="false" />
        <activity
            android:name=".java.JavaVastActivity"
            android:exported="false" />

        <!-- Compose sample -->
        <activity
            android:name=".compose.ComposeShowcaseActivity"
            android:exported="false" />

    </application>

</manifest>
